@import 'tailwindcss';
@import '../styles/theme.css';
@import '../styles/components.css';
html {
  scroll-behavior: smooth !important;
}
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  direction: rtl;
  letter-spacing: normal !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  direction: rtl;
  letter-spacing: normal !important;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  direction: rtl;
  letter-spacing: normal !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  direction: rtl;
  letter-spacing: normal !important;
}

input {
  outline: none;
  border: none;
}
